/* 全体 */
#contents {
	margin: 10px auto;
	width: 640px;
}

/* TLに戻るボタン */
#showTL {
	display: none;

	width: 100%;
	height: 30px;
	background: lightgreen;
}

/* TL画面全体 */
#TL {
	width: 100%;
	height: 100%;
	border: blueviolet 3px solid;

	padding: 5px;
}

/* 詳細画面全体 */
.details {
	display: none;

	width: 100%;
	height: 100%;
	border: lightgreen 5px solid;

	padding: 2px;
}

/* ログの単位 */
.clip {
	margin: 5px auto;
	width: 100%;
	border: blueviolet 3px solid;
}

.title {
	font-size: 30px;
	text-align: left;
}

.expln {
	font-size: 20px;
}
